/* line 1, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/admin.scss */
.pagination {
  margin: 1.5rem auto 3rem;
  width: 95%;
  max-width: 450px;
}
/* line 5, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/admin.scss */
.pagination > li, .pagination span {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

/* line 19, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/admin.scss */
.table td {
  word-break: break-all;
}
/* line 21, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/admin.scss */
.table td > figure {
  max-width: 100%;
  max-height: 100%;
  width: 64px;
}
