/* line 3, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/books.scss */
.card-image .image img {
  height: 231px;
}

/* line 9, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/books.scss */
.book-title {
  padding: 5px 4px;
  height: 54px;
}

/* line 14, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/books.scss */
.section {
  padding: 0 0 1.5rem;
  background: #dbdbdb;
}
/* line 17, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/books.scss */
.section .container {
  padding: 0 .6rem;
  background: #fff;
  box-shadow: 0 7px 8px -8px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: 0 7px 8px -8px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0 7px 8px -8px rgba(0, 0, 0, 0.32);
}

/* line 25, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/books.scss */
.to-ranking {
  padding-bottom: 1rem;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}
/* line 29, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/books.scss */
.to-ranking i, .to-ranking svg {
  margin-left: .3rem;
}

/* line 33, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/books.scss */
.book-infos {
  margin: .5rem 1rem 0;
}

/* line 37, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/books.scss */
.rakuten-purchace {
  background-color: #668ad8;
  box-shadow: 0 5px 0 0 #627295;
  border-radius: 4px;
  max-width: 80%;
  margin: .5em auto 1.2rem;
  line-height: 1.4;
  transition: all .2s ease;
}
/* line 45, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/books.scss */
.rakuten-purchace:hover {
  box-shadow: none;
  transform: translateY(5px);
  opacity: 0.8;
}
/* line 50, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/books.scss */
.rakuten-purchace .rakuten-link {
  padding: 0.5em;
}
/* line 52, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/books.scss */
.rakuten-purchace .rakuten-link .fa-angle-right {
  float: right;
  font-size: 1.5rem;
}

/* line 59, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/books.scss */
.caption {
  margin: 1rem auto 0;
  overflow: hidden;
}
/* line 62, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/books.scss */
.caption p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-height: 1.7rem;
}

/* line 69, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/books.scss */
#more-read-button {
  margin-bottom: 10px;
}

/* line 72, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/books.scss */
#close-read-button {
  display: none;
}

/* line 75, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/books.scss */
.recomend_books {
  margin-top: 50px;
}
/* line 77, /Users/hatsu/programing/practice/vue/sokudoku-bunko/app/assets/stylesheets/books.scss */
.recomend_books .container {
  padding-bottom: 2.5rem;
}
