- content_for :css_each_page, stylesheet_link_tag('books')
.hero-body
  p.has-text-weight-bold そくどく文庫は、本を読むのが遅い人でも楽に本を読む速度が早くなるサイトです📖
section.section
  .container
    h2.subtitle.has-text-weight-bold 人気小説
    .columns.is-mobile.is-multiline
      = render 'books/books', books: @rankings
    p.has-text-weight-bold.has-text-centered.to-ranking
      = link_to ranking_path do
        | もっと見る
        i.fas.fa-chevron-right

#books
  books
= javascript_pack_tag "books"
