- content_for :html_title, "速読で人気な本一覧"
- content_for :css_each_page, stylesheet_link_tag('books'), media: 'screen'
.hero-body.container
  p.has-text-weight-bold.has-text-center-pc そくどく文庫は、本を読むのが遅い人でも楽に本を読む速度が早くなるサイトです📖
#books.container
  books
= javascript_pack_tag "books"
