- content_for :css_each_page, stylesheet_link_tag('books')
.hero-body
  p.has-text-weight-bold そくどく文庫は、本を読むのが遅い人でも楽に本を読む速度が早くなるサイトです📖
#books
  books
= javascript_pack_tag "books"
= stylesheet_pack_tag 'books'
