.share-buttons.is-flex
  a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-hashtags="そくどく文庫" data-show-count="false" data-lang="ja" Tweet
  iframe src="https://www.facebook.com/plugins/share_button.php?href=#{CGI.escape(request.url)}&layout=button&size=small&appId=1104643199674110&width=61&height=20" width="61" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"
  .line-it-button data-lang="ja" data-type="share-a" data-ver="3" data-url="#{request.url}" data-color="default" data-size="small" data-count="false" style="display: none;"
