section.hero.is-light.is-fullheight-with-navbar
  .hero-body
    .container
      h1.title.is-size-4 お探しのページは見つかりませんでした‍‍‍🙇‍
      h3.subtitle 403 Forbidden
        p.is-inline-block
            = link_to 'トップに戻る', root_path
          p.is-inline-block.has-text-link.push-side |
          p.is-inline-block
            = link_to '前のページに戻る', :back
