@media screen and (max-width: 768px){
  .columns{
    > .column.is-4-mobile{
      padding-right: 0.3rem;
      padding-left: 0.3rem;
    }
    > .column.is-4-mobile:nth-child(3n-2){
      padding-left: 0.8rem;
    }
    > .column.is-4-mobile:nth-child(3n){
      padding-right: 0.8rem;
    }
  }
}
.card-image{
  .image{
    img{
      height: 151px;
    }
  }
  .impression{
    font-size: .6rem;
    bottom: -6%;
    right: 1.5px;
    border: 1px solid #ccc;
    background: #fefefe;
    color: #666;
    border-radius: 50%;
    padding: 3px 2px;
    i, svg{
      margin-right: .1rem;
    }
    span{
      font-size: .5rem;
    }
  }
}
.book-title{
  font-size: .85rem;
}
.section{
  padding: 0 .8rem 1.5rem;
  > .container{
    > .section-title{
      margin-top: 20px;
    }
  }
}
.to-ranking{
  padding-bottom: 1rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 1rem;
  i, svg{
    margin-left: .3rem;
  }
}
.book-info{
  display: block;
  padding: 5px 4px;
}
.book-author{
  p{
    margin: 0 .1rem;
    font-size: .5rem;
  }
}
// 無限スクロール
.infinite-loading-container{
  width: 100%;
  margin: 1rem auto 2rem;
}
